<template>
	<h2>Log in</h2>
	<form method="post" name="loginForm">
		<label for="form_email">Email</label>
		<input id="form_email" type="text" name="email" value.bind="email" placeholder="Email" required autofocus>
		<label for="form_password">Password</label>
		<input id="form_password" type="password" name="password" value.bind="password" placeholder="Password" required>
		<button type="submit" click.delegate="login(email, password)">Log in</button>
	</form>
</template>